<div class="position-relative">

  <ngx-loading [show]="isLoading"></ngx-loading>

  <div class="card">
    <div *ngIf="!isLoading">
      <div class="card-header d-flex justify-content-between">
        <div>{{ result.title }}</div>
        <button *ngIf="watchMovie?.collected" class="btn btn-success btn-link" [ngbPopover]="watchMovie.collected_date"><span class="oi oi-circle-check"></span> Downloaded</button>
      </div>
      <div class="card-body">
        <ngb-tabset>
          <ngb-tab title="Details">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <div class="d-flex justify-content-between">
                  <h6 class="card-title">{{ result.release_date | date:'y' }}</h6>
                  <div class="d-flex justify-content-between">
                    <a [routerLink]="['/search/auto']" [queryParams]="{type: 'movie', q: 'similar-to:' + result.id}" class="btn btn-link">
                      <span class="oi oi-sun"></span> <span class="d-none d-sm-block">Similar</span>
                    </a>
                    <a [routerLink]="['/search/auto']" [queryParams]="{type: 'movie', q: 'recommended-to:' + result.id}" class="btn btn-link">
                      <span class="oi oi-magnifying-glass"></span> <span class="d-none d-sm-block">Recommended</span>
                    </a>
                  </div>
                </div>
                <p class="card-text">{{ result.overview }}</p>
                <div class="card-text position-relative my-3 w-25">
                  <strong>Trailers</strong>:
                  <span *ngIf="trailerUrls$ | async; let trailerUrls; else loading">
                    <span *ngIf="trailerUrls.length === 0" class="text-danger">No trailers found</span>
                    <a class="btn btn-default btn-link btn-sm" *ngFor="let trailerUrl of trailerUrls; let i = index; let last = last" [href]="trailerUrl" target="_blank">{{ i+1 }}<span *ngIf="!last">, </span></a>
                  </span>
                  <ng-template #loading><ngx-loading [show]="true"></ngx-loading></ng-template>
                </div>
                <div class="row">
                  <div class="col">
                    <img [src]="mediaPosterURL(result)"  class="img-fluid">
                  </div>
                  <div class="col position-relative">
                    <ngx-loading [show]="isSaving"></ngx-loading>
                    <form class="form" (submit)="submit()">
                      <div class="form-group mt-4" *ngIf="userIsStaff() && !isWatchingMovie()">
                        <label>Quality Profile</label>
                        <select class="form-control form-control-sm" [(ngModel)]="qualityProfileCustom" name="quality-profile-custom">
                          <option></option>
                          <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
                        </select>
                      </div>
                      <div>
                        <button class="btn btn-block btn-primary" *ngIf="!isWatchingMovie()">
													<span *ngIf="!isWatchingMovie()">Watch</span>
                        </button>
                        <button class="btn btn-block btn-warning" *ngIf="isWatchingMovie()" [disabled]="!canUnWatch()">
                          <span *ngIf="isWatchingMovie()" >Stop Watching</span>
                        </button>
                        <div class="text-muted mt-1" *ngIf="isWatchingMovie() && watchMovie">
                          Requested by: {{ watchMovie.requested_by }}
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Status" *ngIf="isWatchingMovie()">
            <ng-template ngbTabContent>
              <div *ngIf="isWatchingMovie() && watchMovie">
                <app-torrent-details mediaType="movie" [watchMedia]="getWatchMovie()"></app-torrent-details>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Manual Search" *ngIf="userIsStaff() && !isWatchingMovie()">
            <ng-template ngbTabContent>
              <app-search-manual [mediaType]="'movie'" [tmdbMedia]="result"></app-search-manual>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

</div>
