<div class="position-relative">

  <ngx-loading [show]="isLoading"></ngx-loading>

  <div class="card">
    <div *ngIf="!isLoading">
      <div class="card-header d-flex justify-content-between">
        <div>{{ result.title }}</div><button *ngIf="watchMovie?.collected" class="btn btn-success btn-link" [ngbPopover]="watchMovie.collected_date"><span class="oi oi-circle-check"></span> Downloaded</button>
      </div>
      <div class="card-body">
        <ngb-tabset>
          <ngb-tab title="Details">
            <ng-template ngbTabContent>
              <div class="mt-3">
                <h6 class="card-title">{{ result.release_date | date:'y' }}</h6>
                <p class="card-text">{{ result.overview }}</p>
                <div class="row">
                  <div class="col">
                    <img [src]="mediaPosterURL(result)"  class="img-fluid">
                  </div>
                  <div class="col position-relative">
                    <ngx-loading [show]="isSaving"></ngx-loading>
                    <form class="form" (submit)="submit()">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="isWatchingMovie" [name]="result.id" [id]="result.id">
                        <label class="form-check-label" [for]="result.id">Watch</label>
                      </div>
                      <div class="form-group mt-4" *ngIf="userIsStaff()">
                        <label>Custom Profile</label>
                        <select type="text" class="form-control form-control-sm" [(ngModel)]="qualityProfileCustom" name="quality-profile-custom">
                          <option></option>
                          <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
                        </select>
                      </div>
                      <div class="row justify-content-between m-3">
                        <button type="submit" class="btn btn-primary">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Status" *ngIf="isWatchingMovie">
            <ng-template ngbTabContent>
              <div *ngIf="isWatchingMovie && watchMovie">
                <app-torrent-details mediaType="movie" [watchMedia]="[getWatchMovie()]"></app-torrent-details>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

</div>
