<div class="card position-relative">
  <ngx-loading [show]="isLoading"></ngx-loading>
  <div *ngIf="!isLoading">
    <div class="card-header d-flex justify-content-between">
      <div>{{ result.name }}</div>
      <div class="d-flex justify-content-between">
        <a [routerLink]="['/search/auto']" [queryParams]="{type: 'tv', q: 'similar-to:' + result.id}" class="btn btn-link">
          <span class="oi oi-sun"></span> <span class="d-none d-sm-block">Similar</span>
        </a>
        <a [routerLink]="['/search/auto']" [queryParams]="{type: 'tv', q: 'recommended-to:' + result.id}" class="btn btn-link">
          <span class="oi oi-magnifying-glass"></span> <span class="d-none d-sm-block">Recommended</span>
        </a>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ result.overview }}</p>
      <div class="d-flex flex-wrap justify-content-end">
        <button type="button" class="btn btn-success m-1" *ngIf="!isWatchingAllSeasons()" (click)="watchAllSeasons()">
          <span class="oi oi-video"></span> Watch all seasons
        </button>
        <button type="button" class="btn btn-danger m-1" *ngIf="isWatchingShow()" (click)="stopWatchingShow()" [disabled]="!canUnWatchShow()">
          <span class="oi oi-x"></span> Stop watching show
        </button>
      </div>
      <div class="d-flex justify-content-end" *ngIf="isWatchingShow()">
        <div class="form-check text-muted form-control-sm">
          <input class="form-check-input" type="checkbox" id="auto-watch" [(ngModel)]="autoWatchFutureSeasons" (ngModelChange)="autoWatchUpdate()">
          <label class="form-check-label" for="auto-watch" placement="top" ngbTooltip="When new seasons air, this setting will automatically start watching them">
            Automatically watch future seasons
          </label>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ngb-tabset #tabsetEl="ngbTabset">
        <ngb-tab title="Details" id="main-tab">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-12 col-md-6 mb-3 position-relative">
                <ngx-loading [show]="isSaving"></ngx-loading>
                <ul class="list-group" *ngFor="let season of result.seasons">
                  <ngb-accordion>
                    <ngb-panel>
                      <ng-template ngbPanelTitle>
                        Season {{ season.season_number }}
                        &nbsp;&nbsp;&nbsp;
                        <span [ngSwitch]="hasCollectedAllEpisodesInSeason(season)">
                          <!-- downloaded everything -->
                          <span *ngSwitchCase="true">
                            <span class="oi oi-check"></span>
                          </span>
                          <!-- not downloaded everything -->
                          <span *ngSwitchCase="false">
                            <span [ngSwitch]="isWatchingSeason(season.season_number) || isWatchingAllEpisodesInSeason(season)">
                              <!-- watching whole season -->
                              <span *ngSwitchCase="true"> <span class="oi oi-eye"></span></span>
                              <span *ngSwitchCase="false">
                              <!-- watching some episodes -->
                                <span [ngSwitch]="isWatchingAnyEpisodeInSeason(season)">
                                  <span *ngSwitchCase="true"> <span class="oi oi-ellipses"></span></span>
                                </span>
                              </span>
                            </span>
                          </span>
                        </span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <p *ngIf="season.overview">{{ season.overview }}</p>
                        <div class="my-3 d-flex justify-content-between">
                          <button *ngIf="!isWatchingSeason(season.season_number)" type="button" class="btn btn-primary" (click)="watchEntireSeason(season)">
                            <span class="oi oi-video"></span> Watch entire season
                          </button>
                          <button *ngIf="isWatchingSeason(season.season_number)" type="button" class="btn btn-warning" (click)="stopWatchingEntireSeason(season)" [disabled]="!canUnWatchSeason(season.season_number)">
                            <span class="oi oi-x"></span> Stop watching season
                          </button>
                          <!-- manual search -->
                          <div *ngIf="!isWatchingSeason(season.season_number) && userIsStaff() && isManualSearchEnabled">
                            <button class="btn btn-sm btn-link" placement="top" ngbTooltip="Manually search torrents for this season" (click)="manuallySearchSeason(season)"><span class="oi oi-magnifying-glass"></span></button>
                          </div>
                        </div>
                        <hr>
                        <form class="form" *ngIf="watchEpisodesOptions" (submit)="submitForSeason(season.season_number)">
                          <div *ngFor="let episode of season.episodes" class="form-check d-flex justify-content-between">
                            <div>
                              <input class="form-check-input" [disabled]="isWatchingSeason(season.season_number) || (isWatchingEpisode(episode.id) && !canUnWatchEpisode(episode.id))" type="checkbox" [(ngModel)]="watchEpisodesOptions[episode.id]" [name]="episode.id" [id]="episode.id">
                              <label class="form-check-label" [for]="episode.id">#{{ episode.episode_number }} - {{ episode.name }}</label>
                            </div>
                            <div *ngIf="isManualSearchEnabled && !(isWatchingSeason(season.season_number) || isWatchingEpisode(episode.id))">
                              <button class="btn btn-sm btn-link" placement="top" ngbTooltip="Manually search torrents for this episode" (click)="manuallySearchEpisode(season, episode)"><span class="oi oi-magnifying-glass"></span></button>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-info m-3" [class.disabled]="isWatchingSeason(season.season_number)" [disabled]="isWatchingSeason(season.season_number)">
                            <span class="oi oi-list"></span> Watch selected episodes
                          </button>
                          <!-- manual search toggle -->
                          <div class="d-flex justify-content-end mt-2" *ngIf="userIsStaff() && !isWatchingSeason(season.season_number)">
                            <form class="form">
                              <input class="form-check-input" type="checkbox" [(ngModel)]="isManualSearchEnabled" name="manualSearch" id="toggle-manual-search">
                              <label class="form-check-label" for="toggle-manual-search" placement="top" ngbTooltip="Enable option to manually search torrents vs automatically downloading them">Manual</label>
                            </form>
                          </div>
                        </form>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </ul>
              </div>
              <div class="col-12 col-md-6">
                <img [src]="mediaPosterURL(result)"  class="img-fluid">
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Status" *ngIf="isWatchingShow()">
          <ng-template ngbTabContent>
            <app-torrent-details mediaType="tv" [watchMedia]="getWatchMedia()"></app-torrent-details>
          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="isManuallySearching ? 'Manual Search' : ''" id="manual-search-tab" *ngIf="userIsStaff()">
          <ng-template ngbTabContent>
            <app-search-manual [mediaType]="'tv'" [tmdbMedia]="result" [tmdbTVSeason]="manualSearchTmdbSeason" [tmdbTVEpisode]="manualSearchTmdbEpisode" (downloaded)="manuallyDownloadComplete()"></app-search-manual>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
