<div class="alert alert-success col-12 mt-3" *ngIf="alertMessage">{{ alertMessage }}</div>

<div class="position-relative">
  <ngx-loading [show]="isLoading"></ngx-loading>
</div>
<div class="row">
  <input class="form-control form-control-sm mb-3" [(ngModel)]="search" required minlength="2" name="search" type="text" placeholder="Filter..." autocomplete="off">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let result of results | filter: search">
    <div class="card result">
      <a [routerLink]="['/media', mediaType, getTMDBId(result)]"><img class="card-img-top" [src]="result.poster_image_url" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title">{{ result.name }}</h5>
      </div>
    </div>
  </div>
</div>

