<div class="alert alert-success col-12 mt-3" *ngIf="results.length == 0">
  You have everything you've ever wanted. Nice
</div>

<div class="card" *ngIf="results.length">
  <div class="card-header">
    You want these
    <span *ngIf="mediaType == 'tv'">TV Shows</span>
    <span *ngIf="mediaType == 'movie'">Movies</span>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <input class="form-control form-control-sm w-25 mb-3" [(ngModel)]="search" required minlength="2" type="text" placeholder="Filter..." autocomplete="off">
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Requested</th>
          <th>Requested By</th>
          <th>Last Attempt</th>
          <th>Torrent Found</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of results | filter: search">
          <td><a [routerLink]="['/media', mediaType, getTMDBId(result)]">{{ result.name }}</a></td>
          <td>{{ result.date_added | date: 'shortDate' }}</td>
          <td>{{ result.requested_by }}</td>
          <td>{{ result.last_attempt_date | date: 'shortDate' }}</td>
          <td><span *ngIf="result.transmission_torrent_hash" class="oi oi-check text-success"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
