# host download path
HOST_DOWNLOAD_PATH=/tmp/

# default user and password
NEFARIOUS_USER=admin
NEFARIOUS_PASS=admin

# number of workers for searching and downloading.
# leave as "0" to use the maximum number of CPUs on the system
NUM_CELERY_WORKERS=0

# VPN Settings
# Supported Providers: https://haugene.github.io/docker-transmission-openvpn/supported-providers/
OPENVPN_PROVIDER=
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
LOCAL_NETWORK=