# host download path
DOWNLOAD_DIRECTORY=/tmp/

# default user and password
NEFARIOUS_USER=admin
NEFARIOUS_PASS=admin

# number of workers for searching and downloading.
# leave as "0" to use the maximum number of cpus on the system
NUM_CELERY_WORKERS=0
