# host download path
HOST_DOWNLOAD_PATH=/tmp/

# nefarious user and password
NEFARIOUS_USER=admin
NEFARIOUS_PASS=admin

# number of workers for searching and downloading.
# leave as "0" to use the maximum number of CPUs on the system
NUM_CELERY_WORKERS=0

###########################
# VPN Settings - leave blank if not using a vpn
# https://haugene.github.io/docker-transmission-openvpn/
###########################
OPENVPN_PROVIDER=
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
OPENVPN_CONFIG=
LOCAL_NETWORK=192.168.1.0/24
