<div class="position-relative">

  <ngx-loading [show]="isSearching || isDownloading"></ngx-loading>

  <div class="d-flex justify-content-center my-1">
    <form (ngSubmit)="search()">
      <div class="d-flex">
        <input class="form-control form-control-sm" [(ngModel)]="searchInput" name="searchInput" required minlength="2" type="text" placeholder="Search..." autocomplete="off">
        <button class="btn btn-primary position-relative ml-2" [disabled]="!searchInput" [ngClass]="{'disabled': !searchInput}">
          <span class="oi oi-magnifying-glass"></span> Search
        </button>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <div class="alert alert-warning">Manually downloading any torrent will be assigned to <span class="text-dark">{{getTmdbTitle()}}</span></div>
  </div>

  <div class="d-flex justify-content-end">
    <form class="form-inline" *ngIf="results.length">
      <div class="form-group">
        <label class="m-2">Sort</label>
        <select name="orderBy" [(ngModel)]="filters.orderBy" (change)="filterChange()" class="form-control form-control-sm">
          <option *ngFor="let option of orderByOptions">{{ option }}</option>
        </select>
      </div>
    </form>
  </div>

  <div class="d-flex justify-content-end">
    <input class="form-control form-control-sm mb-3 w-25" [(ngModel)]="filter" required minlength="2" name="search" type="text" placeholder="Filter..." autocomplete="off">
  </div>

  <div class="table-responsive">
    <table class="table table-striped" *ngIf="results.length">
      <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Tracker</th>
        <th scope="col">Seeders</th>
        <th scope="col">Size</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let result of results | filter: filter">
        <td>{{ result.Title }}</td>
        <td>{{ result.Tracker }}</td>
        <td>{{ result.Seeders }}</td>
        <td>{{ result.Size | filesize }}</td>
        <td>
          <button class="btn btn-sm btn-default position-relative" (click)="downloadTorrent(result, tmdbMedia)">
            <span class="oi oi-cloud-upload"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
