<form (ngSubmit)="submitSearch()">
  <div class="d-flex">
    <input class="form-control form-control-lg" [(ngModel)]="searchQuery.query" required minlength="2" name="q" #q="ngModel" type="text" placeholder="Search..." autocomplete="off">
  </div>
  <div class="d-flex justify-content-between">
    <select [(ngModel)]="searchQuery.type" class="form-control form-control-sm" name="type" #type="ngModel">
      <option value="movie">Movies</option>
      <option value="tv">TV Shows</option>
    </select>
    <input class="form-control form-control-sm"  [(ngModel)]="searchQuery.year" type="number" required minlength="4" name="year" #year="ngModel" placeholder="Year" autocomplete="off">
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary position-relative" type="submit" [disabled]="q.invalid" [ngClass]="{'disabled': q.invalid}">
      <ngx-loading [show]="isSearching"></ngx-loading>
      <span class="oi oi-magnifying-glass"></span> Search
    </button>
  </div>
</form>
