<div class="position-relative">
  <ngx-loading [show]="isSaving || !getTorrentIds().length || !torrents.length"></ngx-loading>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Progress</th>
      <th>ETA</th>
      <th>Date Added</th>
      <th>Date Done</th>
      <th>Blacklist and Retry</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results">
      <td>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="top" [ngbPopover]="result.torrent?.name" popoverTitle="Torrent Name">
          {{ result.watchMedia.name }}
        </button>
      </td>
      <td><span *ngIf="result.torrent">{{ result.torrent.status }}</span></td>
      <td><span *ngIf="result.torrent">{{ result.torrent.progress }}%</span></td>
      <td><span *ngIf="result.torrent">{{ result.torrent.format_eta }}</span></td>
      <td><span *ngIf="result.torrent">{{ result.torrent.date_added | date }}</span></td>
      <td><span *ngIf="result.torrent"><span *ngIf="result.torrent.progress === 100">{{ result.torrent.date_done | date }}</span></span></td>
      <td><span *ngIf="result.torrent"><button class="btn btn-warning btn-sm" (click)="blacklistRetry(result.torrent)"><span class="oi oi-ban"></span></button></span></td>
    </tr>
    </tbody>
  </table>
</div>
