<div class="position-relative">
  <ngx-loading [show]="isSaving"></ngx-loading>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Name</th>
      <th>Date Requested</th>
      <th>Last Attempt</th>
      <th>Status</th>
      <th>Progress</th>
      <th>ETA</th>
      <th>Blacklist & Retry</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of results">
      <td>
        <button type="button" class="btn btn-outline-secondary mr-2" placement="right" [ngbPopover]="result.torrent?.name" popoverTitle="Torrent Name">
          {{ result.watchMedia.name }}
        </button>
      </td>
      <td>{{ result.watchMedia.date_added | date | date: 'short' }}</td>
      <td>{{ result.watchMedia.last_attempt_date | date: 'short' }}</td>
      <td><span *ngIf="result.torrent">{{ result.torrent.status }}</span></td>
      <td><span *ngIf="result.torrent">{{ result.torrent.progress }}%</span></td>
      <td><span *ngIf="result.torrent">{{ result.torrent.format_eta }}</span></td>
      <td><span *ngIf="result.torrent"><button class="btn btn-warning btn-sm" (click)="blacklistRetry(result.torrent)"><span class="oi oi-ban"></span></button></span></td>
    </tr>
    </tbody>
  </table>
</div>
