<form class="was-validated position-relative" [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
  <ngx-loading [show]="isSaving"></ngx-loading>
  <div class="row">
    <!-- jackett -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">Jackett</div>
        <div class="card-body">
          <div class="form-group">
            <label>Host</label>
            <input type="text" class="form-control" placeholder="localhost" formControlName="jackett_host" required>
          </div>
          <div class="form-group">
            <label>Port</label>
            <input type="number" class="form-control" placeholder="9117" formControlName="jackett_port" required>
          </div>
          <div class="form-group">
            <label>API Token</label>
            <input type="text" class="form-control" placeholder="" formControlName="jackett_token" required>
          </div>
          <!-- TODO - hidden smart ratio management -->
          <form class="d-none position-relative">
            <ngx-loading [show]="isLoadingJackettIndexers"></ngx-loading>
            <div class="card" *ngIf="!isLoadingJackettIndexers">
              <div class="card-body" [formGroup]="form">
                <button class="btn btn-link" (click)="isJackettIndexersSettingsCollapsed = !isJackettIndexersSettingsCollapsed">
                  <span *ngIf="isJackettIndexersSettingsCollapsed">+</span>
                  <span *ngIf="!isJackettIndexersSettingsCollapsed">-</span>
                  Ratio Management
                </button>
                <div [ngbCollapse]="isJackettIndexersSettingsCollapsed">
                  <div class="card-title text-secondary">
                    Optionally configure certain indexers to be <i>Seed Only</i> which will automatically cross seed completed torrents and prevent leeching from them altogether.  This is helpful to maintain ratios on private sites.
                  </div>
                  <div *ngIf="form.controls.jackett_indexers_seed" formGroupName="jackett_indexers_seed">
                    <strong class="d-block">Seed Only</strong>
                    <div *ngFor="let indexer of jackettIndexers">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" [formControlName]="indexer" [id]="indexer">
                        <label class="form-check-label" [for]="indexer">{{ indexer }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="mt-2">
            <button type="button" class="btn btn-sm btn-secondary position-relative" (click)="verifyJackettIndexers()">
              <ngx-loading [show]="isVeryingJackettIndexers"></ngx-loading>
              Verify Indexers
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- transmission -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">Transmission</div>
        <div class="card-body">
          <div class="form-group">
            <label>Host</label>
            <input type="text" class="form-control" placeholder="localhost" formControlName="transmission_host" required>
          </div>
          <div class="form-group">
            <label>Port</label>
            <input type="number" class="form-control" placeholder="9091" formControlName="transmission_port" required>
          </div>
          <div class="form-group">
            <label>User</label>
            <input type="text" class="form-control" placeholder="" formControlName="transmission_user">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="" formControlName="transmission_pass">
          </div>
          <div class="form-group">
            <label>TV Download Sub Directory</label>
            <input type="text" class="form-control" placeholder="TV Shows/" formControlName="transmission_tv_download_dir" required>
            <small class="form-text text-muted">Relative to download path</small>
          </div>
          <div class="form-group">
            <label>Movie Download Sub Directory</label>
            <input type="text" class="form-control" placeholder="Movies/" formControlName="transmission_movie_download_dir" required>
            <small class="form-text text-muted">Relative to download path</small>
          </div>
        </div>
      </div>
    </div>
    <!-- quality profiles -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">Quality Profiles</div>
        <div class="card-body">
          <div class="form-group">
            <label>TV</label>
            <select type="text" class="form-control" formControlName="quality_profile_tv" required>
              <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Movies</label>
            <select type="text" class="form-control" formControlName="quality_profile_movies" required>
              <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- users -->
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card" *ngIf="users">
        <div class="card-header">Users</div>
        <div class="card-body" formArrayName="users">
          <div *ngFor="let control of form.controls.users.controls; let i=index" [formGroupName]="i">
            <div class="d-flex justify-content-around">
              <div class="form-group">
                <input type="text" class="form-control" [id]="i+'username'" formControlName="username" required placeholder="username">
              </div>
              <div class="form-group">
                <ng-container *ngIf="control.value.id">
                  <input type="password" class="form-control" [id]="i+'password'" formControlName="password" placeholder="new password">
                  <small class="form-text text-muted">Leave blank to keep existing password</small>
                </ng-container>
                <ng-container *ngIf="!control.value.id">
                  <input type="password" class="form-control" [id]="i+'password'" formControlName="password" placeholder="password" required>
                </ng-container>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" (click)="saveUser(i)"><span class="oi oi-check"></span></button>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-sm btn-danger" (click)="removeUser(i)"><span class="oi oi-minus"></span></button>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="can_immediately_watch_movies" [id]="i + 'perm_movie'">
                <label class="form-check-label" [for]="i + 'perm_movie'">
                  Can watch movies immediately
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="can_immediately_watch_tv_shows" [id]="i + 'perm_tv'">
                <label class="form-check-label" [for]="i + 'perm_tv'">
                  Can watch tv shows immediately
                </label>
              </div>
            </div>
            <hr>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-xs btn-sm btn-success" (click)="addUser()"><span class="oi oi-plus"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between my-3">
    <button type="button" class="btn btn-warning" (click)="verifySettings()">Verify</button>
    <button class="btn btn-success" [disabled]="!form.valid">Save</button>
  </div>
</form>
