<div class="position-relative">
  <ngx-loading [show]="isSaving" [config]="{fullScreenBackdrop: true}"></ngx-loading>
  <form class="was-validated" [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex justify-content-end my-3">
      <button type="button" class="btn btn-sm btn-info mx-1" (click)="saveAndVerifySettings()">
        Save & Verify Settings
        <span class="oi oi-pulse"></span>
      </button>
      <button class="btn btn-success mx-1" [ngClass]="{'btn-success': form.valid, 'btn-danger': !form.valid}">
        Save
        <span class="oi oi-check"></span>
      </button>
    </div>
    <div class="row" *ngIf="form">
      <div class="col-12 col-sm-6 col-md-4">
        <!-- jackett -->
        <div class="card">
          <div class="card-header">Jackett</div>
          <div class="card-body">
            <div class="form-group">
              <label>Host</label>
              <input type="text" class="form-control" placeholder="localhost" formControlName="jackett_host" required>
            </div>
            <div class="form-group">
              <label>Port</label>
              <input type="number" class="form-control" placeholder="9117" formControlName="jackett_port" required>
            </div>
            <div class="form-group">
              <label>API Token</label>
              <input type="text" class="form-control" placeholder="" formControlName="jackett_token" required>
            </div>
            <div class="form-group d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-outline-primary position-relative" (click)="saveAndVerifyJackettIndexers()">
                <ngx-loading [show]="isVeryingJackettIndexers"></ngx-loading>
                Save & Verify Indexers
                <span class="oi oi-pulse"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- transmission -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">Transmission</div>
          <div class="card-body">
            <div class="form-group">
              <label>Host</label>
              <input type="text" class="form-control" placeholder="localhost" formControlName="transmission_host" required>
            </div>
            <div class="form-group">
              <label>Port</label>
              <input type="number" class="form-control" placeholder="9091" formControlName="transmission_port" required>
            </div>
            <div class="form-group">
              <label>User</label>
              <input type="text" class="form-control" placeholder="" formControlName="transmission_user">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="" formControlName="transmission_pass">
            </div>
            <div class="form-group">
              <label>TV Download Sub Directory</label>
              <input type="text" class="form-control" placeholder="TV Shows/" formControlName="transmission_tv_download_dir" required>
              <small class="form-text text-muted">Relative to download path</small>
            </div>
            <div class="form-group">
              <label>Movie Download Sub Directory</label>
              <input type="text" class="form-control" placeholder="Movies/" formControlName="transmission_movie_download_dir" required>
              <small class="form-text text-muted">Relative to download path</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <!-- Global -->
        <div class="card">
          <div class="card-header">Global</div>
          <div class="card-body">
            <div class="form-group">
              <label>Language
                <span class="text-info oi oi-info" placement="left" ngbTooltip="Titles, descriptions and artwork may be localized if data is available in TMDB"></span>
              </label>
              <ng-select [multiple]="false" [items]="getLanguages()" bindValue="iso_639_1" bindLabel="english_name" formControlName="language"></ng-select>
            </div>
          </div>
        </div>
        <!-- quality profiles -->
        <div class="card">
          <div class="card-header">Quality Profiles</div>
          <div class="card-body">
            <div class="form-group">
              <label>TV</label>
              <select type="text" class="form-control" formControlName="quality_profile_tv" required>
                <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Movies</label>
              <select type="text" class="form-control" formControlName="quality_profile_movies" required>
                <option *ngFor="let profile of qualityProfiles()" [value]="profile">{{ profile }}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- keyword filters -->
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <span>Keyword Search Exclusions</span>
            <span class="text-info oi oi-info" placement="left" ngbTooltip="Avoid search results with keywords, i.e 'x265', '265', 'hevc'"></span>
          </div>
          <div class="card-body">
            <div class="form-group">
              <ng-select [multiple]="true" [items]="[]" [addTag]="true" formControlName="exclusions"></ng-select>
              <small *ngIf="hasExclusions()" class="form-text text-muted">Avoiding search results with keywords: {{ form.get('exclusions').value }}</small>
            </div>
          </div>
        </div>
        <!-- hardcoded subs -->
        <div class="card">
          <div class="card-header">Hardcoded Subtitles</div>
          <div class="card-body">
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="true" formControlName="allow_hardcoded_subs" id="hc-true">
              <label class="form-check-label" for="hc-true">
                Allow
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" formControlName="allow_hardcoded_subs" id="hc-false">
              <label class="form-check-label" for="hc-false">
                Prevent
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- users -->
      <div class="col-12 col-sm-6 col-md-4">
        <form class="was-validated" [formGroup]="form">
          <div class="card" *ngIf="users">
            <div class="card-header">Users</div>
            <div class="card-body" formArrayName="users">
              <div *ngFor="let control of form.controls.users.controls; let i=index" [formGroupName]="i">
                <div class="d-flex justify-content-around">
                  <div class="form-group mr-1">
                    <input type="text" class="form-control" [id]="i+'username'" formControlName="username" required placeholder="username">
                  </div>
                  <div class="form-group mr-1">
                    <ng-container *ngIf="control.value.id">
                      <input type="password" class="form-control" [id]="i+'password'" formControlName="password" placeholder="new password">
                      <small class="form-text text-muted">Leave blank to keep existing password</small>
                    </ng-container>
                    <ng-container *ngIf="!control.value.id">
                      <input type="password" class="form-control" [id]="i+'password'" formControlName="password" placeholder="password" required>
                    </ng-container>
                  </div>
                  <div class="form-group mr-1">
                    <button type="button" class="btn btn-sm btn-success" (click)="saveUser(i)"><span class="oi oi-check"></span></button>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-sm btn-danger" [disabled]="!canDeleteUser(i)" (click)="removeUser(i)"><span class="oi oi-minus"></span></button>
                  </div>
                </div>
                <hr>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-xs btn-sm btn-success" (click)="addUser()"><span class="oi oi-plus"></span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- notifications -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">Notifications</div>
          <div class="card-body">
            <p>Defining a <i>Notification URL</i> allows you to get notified when downloads are complete.</p>
            <p>nefarious uses <a target="_blank" href="https://github.com/caronc/apprise">Apprise</a> for notifications which supports <a target="_blank" href="https://github.com/caronc/apprise#popular-notification-services">most major notification services.</a></p>
            <div class="form-group">
              <label>Notification URL</label>
              <input type="text" class="form-control" placeholder="slack://TokenA/TokenB/TokenC/" formControlName="apprise_notification_url">
            </div>
            <button type="button" class="btn btn-xs btn-sm btn-outline-primary" (click)="sendTestNotification()">Send test notification <span class="oi oi-bolt"></span></button>
          </div>
        </div>
      </div>
      <!-- import library -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">Import Library</div>
          <div class="card-body">
            <p>Import your existing library so everything you've previously downloaded will populate in nefarious.</p>
            <div *ngIf="!hasHostDownloadPath()" class="alert alert-warning">
              <strong>HOST_DOWNLOAD_PATH</strong> isn't defined!  It's necessary to be able to import your existing libraries.  Follow the <a href="https://github.com/lardbit/nefarious#setup" target="_blank">Setup instructions</a>
              and/or the <a href="https://github.com/lardbit/nefarious#upgrading" target="_blank">Upgrade instructions</a>.
            </div>
            <p *ngIf="hasHostDownloadPath()">Host Download Path: <em class="text-success">{{hostDownloadPath()}}</em></p>
            <div class="form-group">
              <button type="button" (click)="importLibrary('movie')" class="btn btn-outline-primary btn-sm" [disabled]="!hasHostDownloadPath()">Import Movies <span class="oi oi-folder"></span></button>
            </div>
            <div class="form-group">
              <button type="button" (click)="importLibrary('tv')" class="btn btn-outline-primary btn-sm" [disabled]="!hasHostDownloadPath()">Import TV Shows <span class="oi oi-folder"></span></button>
            </div>
          </div>
        </div>
        <!-- open subtitles -->
        <div class="card">
          <div class="card-header">OpenSubtitles</div>
          <div class="card-body">
            <div class="card-title">
              Do you want subtitles to be automatically downloaded?
            </div>
            <div class="card-subtitle">
              Create an account on <a href="https://www.opensubtitles.com/" target="_blank">opensubtitles.com</a> and include your username and password.
            </div>
            <div class="form-check mt-3">
              <input class="form-check-input" type="radio" [value]="true" formControlName="open_subtitles_auto" id="os-true">
              <label class="form-check-label" for="os-true">
                Enabled
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [value]="false" formControlName="open_subtitles_auto" id="os-false">
              <label class="form-check-label" for="os-false">
                Disabled
              </label>
            </div>
            <div [hidden]="!form.controls['open_subtitles_auto'].value">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="open_subtitles_username" [required]="form.controls['open_subtitles_auto'].value">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="open_subtitles_password" [required]="form.controls['open_subtitles_auto'].value">
              </div>
              <button type="button" class="btn btn-sm mx-1" [ngClass]="{'btn-info': apiService.settings.open_subtitles_user_token, 'btn-primary': !apiService.settings.open_subtitles_user_token}" (click)="authenticateOpenSubtitles()">
                <ngx-loading [show]="authenticateOpenSubtitles$ && !authenticateOpenSubtitles$.closed"></ngx-loading>
                <span *ngIf="apiService.settings.open_subtitles_user_token">
                  Re-authenticate
                  <span class="oi oi-link-intact"></span>
                </span>
                <span *ngIf="!apiService.settings.open_subtitles_user_token">
                  Authenticate
                  <span class="oi oi-link-broken"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- logs -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-header">Logs</div>
          <div class="card-body">
            <p>View all logs generated from nefarious.</p>
            <a href="/view/logs/foreground" target="_blank" class="btn btn-outline-primary btn-sm ml-1">Foreground <span class="oi oi-file"></span></a>
            <a href="/view/logs/background" target="_blank" class="btn btn-outline-primary btn-sm ml-1">Background <span class="oi oi-file"></span></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <ngx-loading [show]="isLoading"></ngx-loading>
        <div class="card">
          <div class="card-header">Tasks</div>
          <div class="card-body">
            <div class="card-title">Tasks automatically run on a schedule, but you can run them here manually</div>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('completed_media')">Process Completed Media</button>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('wanted_media')">Process Wanted Media</button>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('wanted_tv_seasons')">Process Wanted TV Seasons</button>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('auto_watch_tv_seasons')">Auto Watch New TV Seasons</button>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('refresh_tmdb_settings')">Refresh TMDB Settings</button>
            <button type="button" class="d-block btn btn-sm btn-outline-primary my-1" (click)="queueTask('populate_release_dates')">Populate Release Dates</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <footer class="d-flex justify-content-end">
    <a target="_blank" [href]="'https://github.com/lardbit/nefarious/tree/' + gitCommit" *ngIf="gitCommit">git@{{ gitCommit }}</a>
  </footer>
</div>
