Django==2.2.10
djangorestframework==3.8.2
requests==2.21.0
transmissionrpc==0.11
# forked version including languages
git+https://github.com/lardbit/tmdbsimple.git
jsonfield2==3.0.1
gunicorn==19.9.0
regex==2018.8.29
bpython==0.18
whitenoise==4.1
dj-database-url==0.5.0
celery==4.2.1
redis==3.2.0
django-filter==2.0.0
