<div class="alert alert-success col-12 mt-3" *ngIf="!results || results.length == 0">
  You're not watching anything yet.
</div>

<div class="card" *ngIf="results && results.length">
  <div class="card-header">
    You're watching these
    <span *ngIf="mediaType == 'tv'">TV Shows</span>
    <span *ngIf="mediaType == 'movie'">Movies</span>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-end">
      <input class="form-control form-control-sm w-25 mb-3" [(ngModel)]="search" required minlength="2" name="search" type="text" placeholder="Filter..." autocomplete="off">
    </div>
    <div class="table-responsive">

      <!-- datatable -->
      <ngx-datatable
        class="bootstrap"
        [rows]="rows"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [scrollbarH]="true"
        [limit]="25"
      >
        <!-- name column -->
        <ngx-datatable-column name="Name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a [routerLink]="['/media', mediaType, getTMDBId(row)]">{{ row.name }}</a>
          </ng-template>
        </ngx-datatable-column>

        <!-- movies columns -->
        <ng-container *ngIf="mediaType === 'movie'">
          <ngx-datatable-column prop="date_added" name="Date Added"></ngx-datatable-column>
          <ngx-datatable-column prop="requested_by" name="Requested By"></ngx-datatable-column>
          <ngx-datatable-column prop="collected" name="Downloaded">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span *ngIf="value" class="oi oi-check text-success"></span>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column prop="collected_date" name="Download Date"></ngx-datatable-column>
        </ng-container>

        <!-- tv columns -->
        <ng-container *ngIf="mediaType === 'tv'">
          <ngx-datatable-column prop="collected_date" name="Last season/episode download date"></ngx-datatable-column>
        </ng-container>
      </ngx-datatable>

    </div>
  </div>
</div>
