.result-watching {
  position: absolute;
  top: 0;
  right: 0;
}

.rotten-tomato {
  font-size: 15px;
}
.rotten-tomato img {
  width: 20px;
}

a.result {
  text-decoration: none!important;
  .card-title, .card-text {
    color: white!important;
  }
  :hover {
    cursor: pointer;
  }
}
